@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

body {
    font-family: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    border-radius: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 139, 0.489);
    margin-top: 100px;
    filter: drop-shadow(6px 6px 4px #00000080);
}

.electron {
    width: 20rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4rem;
    margin: 0 40px;
}

.dates {
    font-weight: 600;
    font-size: 2rem;
}

.elec-hours {
    font-weight: 600;
    margin-top: 30px;
    font-size: 3rem;
}

.analog {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 10px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.analog .hours {
    position: absolute;
    left: 49%;
    bottom: 50%;
    width: 10px;
    height: 60px;
    background-color: red;
    transform-origin: bottom;
    z-index: -1;
    border-radius: 10px 10px;
}

.analog .minute {
    position: absolute;
    left: 49%;
    bottom: 50%;
    width: 7px;
    height: 100px;
    background-color: orangered;
    transform-origin: bottom;
    z-index: -1;
    border-radius: 10px 10px;
}

.center-dot {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}

@media (max-width:600px) {
    html {
        font-size: 12px;
    }

    .wrapper {
        flex-direction: column;
        box-shadow: none;
        border-radius: 0;
        border-radius: 140px;
        height: 460px;
        justify-content: flex-start;
    }

    .electron {
        align-items: center;

        width: 150px;
    }

    .elec-hours {
        margin: 10px 0 0 0;
        font-size: 24px;
    }

    .dates {
        font-size: 18px;
        text-align: center;
    }
}